<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>

<form action="" method="post">
    fname<input type="text" id="fname" name="fname">
    lname<input type="text" id="lname" name="lname">
    password<input type="text" id="password" name="password">
    age<input type="number" id="age" name="age">
    sex<input type="text" id="sex" name="sex">
    phonenumber<input type="text" id="phonenumber" name="phonenumber">
    address<input type="text" id="address" name="address">
    email<input type="email" id="email" name="email">
    melli_code<input type="text" id="melli_code" name="melli_code">
    <input type="submit" value="register">
</form>
</body>
</html>